
html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 3vw ;
}
h1{
    color: rgb(5, 131, 5);
}
h4{
    color: rgb(9, 150, 103);
}
.lien-ket{
    display: flex;
    width: 65vw;
    height: 30vh;
    align-items: center;
    justify-content: space-between;
    
    
}
img{
    cursor: pointer;
}

button{
    margin-left: 5vw;
    background-color: green;
    width: 6vw;
    height: 3vh;
}
a{
    color: yellow;
}
.Telegram{
    color: blue;
}
