html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 3vw ;
}
.macro{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    padding: 5vh 5vh;
}
.macro p{
    padding-left: 5vw;
}
.xanhbook{
    margin-left: 2vw;
}
.link a{
    color: rgb(16, 141, 214);
    font-weight: 500;
}